<section class="leftBlock">

    <h3>Login</h3>

    <form>
        <div class="group-form">
            <label>Email</label>
            <input type="email" />
        </div>
        <div class="group-form">
            <label>Password</label>
            <input type="password" />
        </div>
        <button class="redBtn">Sign-in</button>

        <div class="separator">Or</div>
    </form>

</section>
<section class="rightBlock">
    <h3>Create new account</h3>

    <form>
        <div class="group-form">
            <label>Nick</label>
            <input type="text" />
        </div>
        <div class="group-form">
            <label>Email</label>
            <input type="email" />
        </div>
        <div class="group-form">
            <label>Password</label>
            <input type="password" />
        </div>
        <div class="group-form">
            <label>Repeat password</label>
            <input type="password" />
        </div>
        <button class="greenBtn">Sign-up</button>
    </form>
</section>