
<main>
    <app-box-header (info)="infoOpened = true" [isLogged]="isLogged"></app-box-header>
    <!-- page content: -->
    <section class="leftBlock">
        <h3>Login</h3>
        <form>
            <div class="group-form">
                <label>Nick o Email</label>
                <input type="email" name="login_email" [(ngModel)]="loginEmail"/>
            </div>
            <div class="group-form">
                <label>Password</label>
                <input type="password" name="login_password" [(ngModel)]="loginPassword"/>
            </div>
            <button class="redBtn" (click)="signIn()" [class.loading]="isSignin">Sign-in</button>
            <div class="separator">Or</div>
        </form>
    </section>
    <section class="rightBlock">
        <h3>Create new account</h3>
        <form>
            <div class="group-form">
                <label>Nick</label>
                <input type="text" name="signupNick" [(ngModel)]="signupNick"/>
            </div>
            <div class="group-form">
                <label>Email</label>
                <input type="email" name="signupEmail" [(ngModel)]="signupEmail"/>
            </div>
            <div class="group-form">
                <label>Password</label>
                <input type="password" name="signupPassword" [(ngModel)]="signupPassword"/>
            </div>
            <div class="group-form">
                <label>Repeat password</label>
                <input type="password" name="signupPassword2" [(ngModel)]="signupPassword2"/>
            </div>

            <button class="greenBtn" (click)="signUp()"  [class.loading]="isSignup">Sign-up</button>
        </form>
    </section>
    <!-- end page content -->

</main>
<app-box-footer></app-box-footer>
<app-box-popup *ngIf="infoOpened" (close)="infoOpened = false"></app-box-popup>