.leftBlock {
    width: 48%;
    height: calc(96% - 53px);
    float: left;
    margin: 2%;
    margin-right: 0%;
    background: rgba(255, 255, 255, 0.10);
}
.rightBlock {
    display: inline-block;
    width: calc(48% - 1px);
    height: calc(96% - 53px);
    margin: 2%;
    margin-left: 0%;
    background: linear-gradient(#278273,#1b6b6d);
    border-left: 1px solid #1b6c6d;
}
h3 {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff42;
    color: #ffffffd6;
    font-family: monospace;
    text-shadow: 0px 1px #000000cc;
    font-size: 18px;
}
form {
    margin: 10px;
}
label {
    display: block;
    margin: 5px 0px;
    color: #ffffff9c;
}

input {
    width: calc(99% - 10px);
    padding: 6px 5px;
    border: 0px;
    margin-bottom: 10px;
    background: #0f3e3f;
    color: wheat;
    box-shadow: inset 0px 0px 5px black;
    outline: none;
}

button {
    margin: 15px auto;
    display: block;
    width: 150px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    box-shadow: 0px 1px 6px #00000061;
    cursor: pointer;
    outline: none;
    font-family: helvetica;
}

button.redBtn{
    background: #d44052;
}
button.greenBtn{
    background: #218464;
}

.separator {
    text-align: center;
    color: rgba(255, 255, 255, 0.80);
    position: relative;
}
.separator::before {
    content: '';
    display: block;
    width: 45%;
    height: 2px;
    position: absolute;
    top: 8px;
    background: radial-gradient(rgba(255, 255, 255, 0.80) -20%, transparent 80%);
}
.separator::after {
    content: '';
    display: block;
    width: 45%;
    height: 2px;
    position: absolute;
    top: 8px;
    right: 0px;
    background: radial-gradient(rgba(255, 255, 255, 0.80) -20%, transparent 80%);
}