header {
    background: #072932;
    padding: 12px;
    color: rgba(255, 255, 255, 0.85);
    font-family: Myriad;
    line-height: 16px;
    position: relative;
    span {
        font-family: helvetica;
        font-size: 10px;
        text-transform: uppercase;
    }
    .rightArea {
        position: absolute;
        right: 1px;
        top: 1px;
        height: 100%;
        display: flex;
        align-items: center;
        i {
            margin: 6px;
            cursor: pointer;
            color: #2d6c68;
            &.disabled{ 
                color: #0b3835;
            }
        }
        button{
            background: #d44052;
            border: 0px;
            height: 100%;
            padding: 10px;
            color: white;
            outline: none;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}