<div class="chatBox" [class.open]="opened">
  <div class="bar">
      <i class="fas fa-window-minimize" *ngIf="opened" (click)="opened = false"></i>
      <i class="fas fa-expand" *ngIf="!opened" (click)="opened = true"></i>
  </div>
  <ul class="body">
    <li class="system">Evento X</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Alexander1712</span> Mensaje entranteMensaje entranteMensaje entranteMensaje entranteMensaje entranteMensaje entranteMensaje entranteMensaje entranteMensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li class="system">Repartiendo fichas</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
    <li><span>@Alexander1712</span> Mensaje entrante</li>
    <li><span>@Harkonnen172</span> Mensaje mio</li>
  </ul>
</div>
