<main>
    <section [class.rotate]="signupEffect">
        <div class="login" *ngIf="!signupForm">
            <header>
                <h3>WEB</h3>
                <h4>POKER</h4>
            </header>
            <form>
              <span *ngIf="errorLogin" class="error">Invalid Username/Password</span>
              <div class="formControl">
                  <label>Username</label>
                  <input type="text" name="nick" [(ngModel)]="nick" [class.error]="errorLogin"/>
              </div>
              <div class="formControl">
                  <label>Password</label>
                  <input type="password" name="password" [(ngModel)]="password" [class.error]="errorLogin"/>
              </div>
              <div class="lastPart">
                  <a href="#">Forgot your password?</a>
                  <button (click)="doLogin($event)" [class.spinner]="logining">Login</button>
              </div>
            </form>
        </div>
        <div class="signup" *ngIf="signupForm">
            <h5>Create account</h5>
            <form>
                <div class="formControl">
                    <label>Username</label>
                    <input type="text" name="nick" [(ngModel)]="nick" [class.error]="errorRegister"/>
                </div>
                <div class="formControl">
                    <label>Email</label>
                    <input type="email" name="email" [(ngModel)]="email" [class.error]="errorRegister"/>
                </div>
                <div class="formControl">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="password" [class.error]="errorRegister"/>
                </div>
                <span *ngIf="errorRegister" class="errorBottom">Nickname/Mail in use. Or weak Password</span>
                <div class="lastPart">
                    <button (click)="doSignup($event)" [class.spinner]="signing">Signup</button>
                </div>
            </form>
        </div>
        <div class="cut"></div>
    </section>
    <footer [class.rotate]="signupEffect">
        <div class="cut"></div>
        <div class="login" *ngIf="!signupForm">
            <label>Not a registered user?</label>
            <button (click)="signup()">Register for FREE</button>
        </div>
        <div class="signup" *ngIf="signupForm">
            <label>Already a member?</label>
            <button (click)="login()">Login</button>
        </div>
    </footer>
</main>
<div class="popupValidator" *ngIf="signupValidation">
  <section>
    <header>
      Confirm email
    </header>
    <p>
      Put here the code that we send to your email.
    </p>
    <span class="error" *ngIf="popupErrorMessage">{{popupErrorMessage}}</span>
    <input type="text" placeholder="982cfc" [(ngModel)]="codeValidationSignup" class="centered"/>
    <button (click)="validateSignup()" [class.spinner]="loadingValidationSignup">Confirm</button>
  </section>
</div>
