<main>
    <section [class.rotate]="signupEffect">
        <div class="login" *ngIf="!signupForm">
            <header>
                <h3>WEB</h3>
                <h4>POKER</h4>
            </header>
            <form>
                <div class="formControl">
                    <label>Username</label>
                    <input type="text" />
                </div>
                <div class="formControl">
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div class="lastPart">
                    <a href="#">Forgot your password?</a>
                    <button (click)="doLogin($event)" [class.spinner]="logining">Login</button>
                </div>
            </form>
            
        </div>
        <div class="signup" *ngIf="signupForm">
            <h5>Create account</h5>
            <form>
                <div class="formControl">
                    <label>Username</label>
                    <input type="text" />
                </div>
                <div class="formControl">
                    <label>Email</label>
                    <input type="email" />
                </div>
                <div class="formControl">
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div class="lastPart">
                    <button>Signup</button>
                </div>
            </form>
        </div>
        <div class="cut"></div>
    </section>
    <footer [class.rotate]="signupEffect">
        <div class="cut"></div>
        <div class="login" *ngIf="!signupForm">
            <label>Not a registered user?</label>
            <button (click)="signup()">Register for FREE</button>
        </div>
        <div class="signup" *ngIf="signupForm">
            <label>Already a member?</label>
            <button (click)="login()">Login</button>
        </div>
    </footer>
</main>