.tableMain {
    background: radial-gradient(#175655, #082e37);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
    overflow: hidden;
    height: 100%;
    position: relative;
    background-image: radial-gradient(#358426, #000000);
}