.vCard {
    position: absolute;
    width: 80px;
    text-align: center;
    height: 80px;
    background: linear-gradient(-45deg, #204a56, #397580, #204a56, #478c98, #204a56);
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    &.active {
        box-shadow: 0px 0px 5px #ffa400;
    }
    .timeA {
        width: 40px;
        height: 100%;
        position: absolute;
        left: 0px;
        border-radius: 50px 0px 0px 50px;
        overflow: hidden;
        top: 0px;
        .internalRadius {
            width: 40px;
            border-left: 40px solid #fdba1d;
            height: 100%;
            background: transparent;
            border-radius: 50px 0px 0px 50px;
            transform: rotate(180deg);
            z-index: 1;
        }
    }
    .timeB {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0px;
        border-radius: 0px 50px 50px 0px;
        overflow: hidden;
        top: 0px;
        .internalRadius {
            width: 40px;
            border-right: 40px solid #fdba1d;
            height: 100%;
            background: transparent;
            border-radius: 0px 50px 50px 0px;
            position: absolute;
            left: -40px;
            transform: rotate(180deg);
            z-index: 1;
        }
    }
    .head {
        width: 70px;
        height: 70px;
        position: relative;
        top: 5px;
        left: 5px;
        border-radius: 35px;
        background: #337d6b;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.65);
        z-index: 2;
        line-height: 70px;
        color: rgba(255, 255, 255, 0.75);
        font-family: helvetica;
        &.available {
            cursor: pointer;
        }
        img {
            width: 70px;
            height: 70px;
            border-radius: 40px;
            box-shadow: 0px 0px 2px white;
            cursor: pointer;
        }
        .name {
            position: absolute;
            line-height: 16px;
            bottom: -25px;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
            color: white;
            width: 150px;
            left: -40px;
        }
        .chips {
            position: absolute;
            line-height: 11px;
            bottom: -44px;
            width: 150px;
            left: -40px;
            .boxy {
              text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
              color: white;
              padding: 2px;
              background: linear-gradient(#d34052, #b83847);
              border-radius: 4px;
              display: inline-block;
              font-size: 11px;
              box-shadow: 0px 0px 4px black, inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
            }
            .boxyAllIn {
              text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
              color: #fbd200;
              padding: 4px;
              background: linear-gradient(#500710, #000000);
              border-radius: 4px;
              display: inline-block;
              font-size: 11px;
              box-shadow: 0px 0px 4px black, inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
            }
        }
    }
}
