<div id="portalComponent">
    <div class="boxPortal">
        <div class="head">WebP
            <i class="fa-logo"></i>ker
            <span class="version">{{version}}</span>
            <div class="topbar">
                <button title="Messages">
                    <span class="fas fa-message"></span>
                    <span class="notify">2</span>
                </button>
                <button title="Stream mode">
                    <span class="fas fa-stream"></span>
                </button>
                <button title="Information">
                    <span class="fas fa-info"></span>
                </button>
                <button class="vip">Ranked</button>
            </div>
        </div>
        <div class="body">
            <div class="bigBanner">
                <div class="userAccount">
                    <img src="/assets/images/picture.png" class="roundedImage" />
                    <div class="bar">
                        <div class="nick">@Alexander1712</div>
                        <div class="coins">
                            <span class="fas fa-coins"></span> 2 500</div>
                    </div>
                </div>
                <div class="options">
                    <div class="bigButton disabled">
                        <div class="icon">
                            <span class="fas fa-plus"></span>
                        </div>
                        <div class="title">Create game</div>
                    </div>
                    <div class="bigButton">
                        <div class="icon">
                            <span class="fas fa-news"></span>
                        </div>
                        <div class="title">The news</div>
                    </div>
                    <div class="bigButton hot">
                        <div class="icon">
                            <span class="fas fa-store"></span>
                        </div>
                        <div class="title">Visit store</div>
                    </div>
                    <div class="bigButton">
                        <div class="icon">
                            <span class="fas fa-rules"></span>
                        </div>
                        <div class="title">Read the rules</div>
                    </div>
                </div>
            </div>
            <div class="mainTablePart">

                <div class="tableList">
                    <div class="breadcumb">
                        <ul>
                            <li>Sit & Go</li>
                            <li>Free Tourns</li>
                            <li>Paid Tourns</li>
                            <li>Tour</li>
                            <li>Friends playing</li>
                        </ul>
                    </div>
                    <div class="table">
                        
                    </div>
                </div>
                <div class="leaderboard">
                    <div class="title">Leaderboard</div>
                    <div class="subtitle">Season 1 - Bronze 7</div>
                    <ul>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 59 632 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 53 289 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 27 150 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 27 150 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 27 150 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 27 150 Pts</div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/picture.png" class="roundedImage" />
                            <div class="data">
                                <div class="nick">@DanyOshean</div>
                                <div class="top" title="Wins/TopTen/Played">3/15/26 WTP</div>
                                <div class="top">
                                    <span class="fas fa-star"></span> 27 150 Pts</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer">
            <ul class="tripla">
                <li class="active">Friends list</li>
                <li>Invite Friends</li>
                <li>Friends playing</li>
            </ul>
        </div>
    </div>
</div>
<div class="author">You can download this project from this
    <a href="https://github.com/alexander171294/web-poker" class="repo" target="_blank">
        <span class="fa-git"></span>Git Repo</a>
</div>