<!-- </!-->

<div class="borderOut">
  <div class="restFrame">

    <app-room-vcard style="top: -50px;left: 150px;"
      [image]="players[0].playerDetails.image"
      [name]="players[0].playerDetails.name"
      [chips]="players[0].playerDetails.chips"
      [timeRest]="players[0].timeRest"
      [void]="availablePositions[0]"
      (click)="trySeat(0)"
    ></app-room-vcard>
    <div class="zone a value" *ngIf="players[0].actualBet > 0">
      {{players[0].actualBet}}
    </div>
    <div class="zone a" *ngIf="players[0].actualBet > 0">
      <app-stacker [valor]="players[0].actualBet"></app-stacker>
    </div>
    <div class="cardStack a" *ngIf="players[0].cards.length > 0">
      <app-dual-stack [upsidedown]="players[0].upsidedown" [cards]="players[0].cards"></app-dual-stack>
    </div>


    <app-room-vcard style="top: -51px;left: 360px;"
      [image]="players[1].playerDetails.image"
      [name]="players[1].playerDetails.name"
      [chips]="players[1].playerDetails.chips"
      [timeRest]="players[1].timeRest"
      [void]="availablePositions[1]"
      (click)="trySeat(1)"
    ></app-room-vcard>
    <div class="zone b value" *ngIf="players[1].actualBet > 0">
      {{players[1].actualBet}}
    </div>
    <div class="zone b" *ngIf="players[1].actualBet > 0">
      <app-stacker [valor]="players[1].actualBet"></app-stacker>
    </div>
    <div class="cardStack b" *ngIf="players[1].cards.length > 0">
      <app-dual-stack [upsidedown]="players[1].upsidedown" [cards]="players[1].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: -48px;left: 570px;"
      [image]="players[2].playerDetails.image"
      [name]="players[2].playerDetails.name"
      [chips]="players[2].playerDetails.chips"
      [timeRest]="players[2].timeRest"
      [void]="availablePositions[2]"
      (click)="trySeat(2)"
    ></app-room-vcard>
    <div class="zone c value" *ngIf="players[2].actualBet > 0">
      {{players[2].actualBet}}
    </div>
    <div class="zone c" *ngIf="players[2].actualBet > 0">
      <app-stacker [valor]="players[2].actualBet"></app-stacker>
    </div>
    <div class="cardStack c" *ngIf="players[2].cards.length > 0">
      <app-dual-stack [upsidedown]="players[2].upsidedown" [cards]="players[2].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 80px;left: 740px;"
      [image]="players[3].playerDetails.image"
      [name]="players[3].playerDetails.name"
      [chips]="players[3].playerDetails.chips"
      [timeRest]="players[3].timeRest"
      [void]="availablePositions[3]"
      (click)="trySeat(3)"
    ></app-room-vcard>
    <div class="zone d value" *ngIf="players[3].actualBet > 0">
      {{players[3].actualBet}}
    </div>
    <div class="zone d" *ngIf="players[3].actualBet > 0">
      <app-stacker [valor]="players[3].actualBet"></app-stacker>
    </div>
    <div class="cardStack d" *ngIf="players[3].cards.length > 0">
      <app-dual-stack [upsidedown]="players[3].upsidedown" [cards]="players[3].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 284px;left: 740px;"
      [image]="players[4].playerDetails.image"
      [name]="players[4].playerDetails.name"
      [chips]="players[4].playerDetails.chips"
      [timeRest]="players[4].timeRest"
      [void]="availablePositions[4]"
      (click)="trySeat(4)"
    ></app-room-vcard>
    <div class="zone e value" *ngIf="players[4].actualBet > 0">
      {{players[4].actualBet}}
    </div>
    <div class="zone e" *ngIf="players[4].actualBet > 0">
      <app-stacker [valor]="players[4].actualBet"></app-stacker>
    </div>
    <div class="cardStack e" *ngIf="players[4].cards.length > 0">
      <app-dual-stack [upsidedown]="players[4].upsidedown" [cards]="players[4].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 413px;left: 570px;"
      [image]="players[5].playerDetails.image"
      [name]="players[5].playerDetails.name"
      [chips]="players[5].playerDetails.chips"
      [timeRest]="players[5].timeRest"
      [void]="availablePositions[5]"
      (click)="trySeat(5)"
    ></app-room-vcard>
    <div class="zone f value" *ngIf="players[5].actualBet > 0">
      {{players[5].actualBet}}
    </div>
    <div class="zone f" *ngIf="players[5].actualBet > 0">
      <app-stacker [valor]="players[5].actualBet"></app-stacker>
    </div>
    <div class="cardStack f" *ngIf="players[5].cards.length > 0">
      <app-dual-stack [upsidedown]="players[5].upsidedown" [cards]="players[5].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 416px;left: 360px;"
      [image]="players[6].playerDetails.image"
      [name]="players[6].playerDetails.name"
      [chips]="players[6].playerDetails.chips"
      [timeRest]="players[6].timeRest"
      [void]="availablePositions[6]"
      (click)="trySeat(6)"
    ></app-room-vcard>
    <div class="zone g value" *ngIf="players[6].actualBet > 0">
      {{players[6].actualBet}}
    </div>
    <div class="zone g" *ngIf="players[6].actualBet > 0">
      <app-stacker [valor]="players[6].actualBet"></app-stacker>
    </div>
    <div class="cardStack g" *ngIf="players[6].cards.length > 0">
      <app-dual-stack [upsidedown]="players[6].upsidedown" [cards]="players[6].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 413px;left: 150px;"
      [image]="players[7].playerDetails.image"
      [name]="players[7].playerDetails.name"
      [chips]="players[7].playerDetails.chips"
      [timeRest]="players[7].timeRest"
      [void]="availablePositions[7]"
      (click)="trySeat(7)"
    ></app-room-vcard>
    <div class="zone h value" *ngIf="players[7].actualBet > 0">
      {{players[7].actualBet}}
    </div>
    <div class="zone h" *ngIf="players[7].actualBet > 0">
      <app-stacker [valor]="players[7].actualBet"></app-stacker>
    </div>
    <div class="cardStack h" *ngIf="players[7].cards.length > 0">
      <app-dual-stack [upsidedown]="players[7].upsidedown" [cards]="players[7].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 284px;left: -25px;"
      [image]="players[8].playerDetails.image"
      [name]="players[8].playerDetails.name"
      [chips]="players[8].playerDetails.chips"
      [timeRest]="players[8].timeRest"
      [void]="availablePositions[8]"
      (click)="trySeat(8)"
    ></app-room-vcard>
    <div class="zone i value" *ngIf="players[8].actualBet > 0">
      {{players[8].actualBet}}
    </div>
    <div class="zone i" *ngIf="players[8].actualBet > 0">
      <app-stacker [valor]="players[8].actualBet"></app-stacker>
    </div>
    <div class="cardStack i" *ngIf="players[8].cards.length > 0">
      <app-dual-stack [upsidedown]="players[8].upsidedown" [cards]="players[8].cards"></app-dual-stack>
    </div>

    <app-room-vcard style="top: 80px;left: -24px;"
      [image]="players[9].playerDetails.image"
      [name]="players[9].playerDetails.name"
      [chips]="players[9].playerDetails.chips"
      [timeRest]="players[9].timeRest"
      [void]="availablePositions[9]"
      (click)="trySeat(9)"
    ></app-room-vcard>
    <div class="zone j value" *ngIf="players[9].actualBet > 0">
      {{players[9].actualBet}}
    </div>
    <div class="zone j" *ngIf="players[9].actualBet > 0">
      <app-stacker [valor]="players[9].actualBet"></app-stacker>
    </div>
    <div class="cardStack j" *ngIf="players[9].cards.length > 0">
      <app-dual-stack [upsidedown]="players[9].upsidedown" [cards]="players[9].cards"></app-dual-stack>
    </div>

    <!-- <app-room-vcard style="top: -50px;left: 150px;"></app-room-vcard>
    <app-room-vcard style="top: -50px;left: 150px;"></app-room-vcard> -->

    <div class="borderIn">
      <div class="wood">
        <div class="cloth">
          <div class="dottedLine">
            <div class="bigLine">
              <div class="waterMark">
                WebPoker
              </div>
              <div class="warning" *ngIf="info">
                {{info}}
              </div>
              <div class="cardsZone">
                <div class="cards">
                  <app-card *ngFor="let card of tableCards" [upsidedown]="card === null" [palo]="card ? card.suit : 0" [valor]="card ? card.value : 0"></app-card>
                </div>
                <label class="pot" *ngIf="pot > 0">Pot: {{pot}}</label>
                <div class="potChips" *ngIf="pot > 0">
                  <app-stacker valor="pot"></app-stacker>
                </div>
                <div class="deck" *ngIf="dealed">
                  <app-deck></app-deck>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
