<div class="box">
  <div class="inputData">
    <input type="text" name="room" placeholder="Room server" value="127.0.0.1:8081" /><br />
    <input type="text" name="apiSrv" placeholder="Api server" value="127.0.0.1:8083" /><br />
    <input type="text" name="orchestrator" placeholder="Orchestrator server" value="127.0.0.1:8082" />
  </div>
  <div class="botonera">
    <button>Connect</button>
    <button>Disconnect</button>
  </div>
  <div class="events">
    <ul>
      <li>Ready</li>
    </ul>
  </div>
  <div class="prompt">
    <input type="text" name="inputCommand"/>
  </div>
</div>
