#signupBox{
    margin: 15px;
    background: linear-gradient(rgb(39,130,115), rgb(27,107,109));
    height: calc(100% - 30px);
    margin-left: 0px;
    border-left: 1px solid rgb(28,106,107);
}
#signupBox .head{
    color: white;
    font-family: monospace;
    margin: 10px;
    font-size: 17px;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    padding: 7px 0px;
}
label{
    color: #ffffffc7;
    margin: 4px 15px;
    display: block;
}
input{
    background: rgb(15,63,64);
    height: 25px;
    margin: 0px 15px;
    width: calc(100% - 40px);
    box-shadow: inset 0px 0px 15px #062c2d;
    color: #eaeaea;
    padding: 0px 5px;
}
mat-form-field {
    display: block;
    margin: 15px 0px;
}
button{
    background: rgb(33,132,100);
    color: #eaeaea;
    display: block;
    margin: 0 auto;
    font-weight: bolder;
}