<section class="profile">
  
  <div class="mainSection">
    <img src="assets/uknown.gif" />
    <span class="nick">
      @Alexander171294
    </span>
    <span class="coins">
      <i class="fas fa-coins"></i> 2500
    </span>
  </div>

  <div class="buttonBlock disabled">
    <i class="fas fa-bullhorn"></i>
    <span class="title">The news</span>
  </div>
  <div class="buttonBlock disabled">
    <i class="fas fa-book-open"></i>
    <span class="title">Read the rules</span>
  </div>
  <div class="buttonBlock">
    <i class="fas fa-shopping-basket"></i>
    <span class="title">Visit store</span>
  </div>

</section>