section.profile {
    background: radial-gradient(#236940, #16532f);
    margin: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
}

section.profile .mainSection {
    width: 160px;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: middle;
}

section.profile .mainSection img {
    width: 75px;
    height: 75px;
    border-radius: 56px;
    border: 3px solid #1e6c46;
    box-shadow: 0px 0px 10px 0px black;
}

section.profile .mainSection .nick {
    display: block;
    text-align: center;
    margin: 3px 0px;
    color: rgba(245, 222, 179, 0.85);
}
section.profile .mainSection .coins {
    display: block;
    text-align: center;
    margin: 3px 0px;
    color: wheat;
    font-size: 12px;
}

section.profile .buttonBlock {
    width: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #0f4f34;
    height: 70px;
    border-radius: 80px;
    margin: 0px 60px;
    border: 4px solid #1b6d3e;
    box-shadow: 0px 0px 0px 5px #0f4f34;
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
}

section.profile .buttonBlock span {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 105px;
    text-align: center;
    left: 1px;
    margin-left: -19px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 2px rgba(0, 0, 0, 0.8);
}

section.profile .buttonBlock i {
    font-size: 35px;
    line-height: 70px;
    color: rgb(239, 182, 26);
}
section.profile .buttonBlock.disabled span {
    color: #0b4222;
    font-weight: bolder;
    text-shadow: 0px;
}

section.profile .buttonBlock.disabled i {
    color: #1b6d3e;
}