.popup {
    position: fixed;
    width: 600px;
    top: 25%;
    left: calc(50% - 300px);
    background: #072932;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    color: #ffffffad;
    h3 {
        margin: 6px;
        i {
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
    }
    .row {
        margin: 4px 0px;
        label {
            font-weight: bolder;
            margin-right: 10px;
            width: 180px;
            display: inline-block;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}