<main>
  <header>
    WEB POKER <span class="version">{{version}}</span>
    <div class="rightArea">
      <i class="fas fa-bell disabled"></i>
      <i class="fas fa-address-card disabled"></i>
      <i class="fas fa-question-circle" (click)="aboutPopup()"></i>
      <button (click)="logout()">Logout</button>
    </div>
  </header>
  <router-outlet></router-outlet>
</main>
<footer>
  Yoy can download this project from <a href="https://github.com/alexander171294/web-poker" target="_blank">GitHub</a>
</footer>
<div class="popup">
  <h3>WebPoker</h3>
  <p>
    <label>Implementation version:</label> <span>{{version}}</span>
    <label>Author:</label> <span>Alexander Eberle < alexander171294@gmail.com ></span>
    <label>Github:</label> <span>https://github.com/alexander171294/web-poker</span>
    <label>Protocol:</label> <span><a href="https://docs.google.com/document/d/1gBXpZ4h8RLj_pJVv9hG6ApM5y0AJc0k10xR1c9yYKWg/edit" target="_blank">EPPR/SN</a></span>
    <label>Protocol version:</label> <span>Prototype-01 Rev:1 CIIR:0</span>
  </p>
</div>