<div class="actionBox" *ngIf="isMyTurn">
  <div class="barBox">
    <input type="text" class="potInput" [(ngModel)]="actualRaise"/>
    <div class="path">
      <div class="startBubble"></div>
      <div class="coloredPath"></div>
      <div class="actualBubble"></div>
      <div class="maxBubble"></div>
    </div>
  </div>
  <div class="buttonBox">
    <button>Call {{toCall}}</button>
    <button class="blue">Rise {{actualRaise}}</button>
    <button class="info" *ngIf="canCheck">Check</button>
    <button class="warning">Fold</button>
  </div>
</div>
