<div class="actionBox" [class.active]="isMyTurn">
  <div class="barBox">
    <input type="text" class="potInput" value="200"/>
    <div class="path">
      <div class="startBubble"></div>
      <div class="coloredPath"></div>
      <div class="actualBubble"></div>
      <div class="maxBubble"></div>
    </div>
  </div>
  <div class="buttonBox">
    <button>Call 200</button>
    <button class="blue">Rise 600</button>
    <button class="info">Check</button>
    <button class="warning">Fold</button>
  </div>
</div>
