<div id="signupBox">
  <div class="head">Create new account</div>
  <mat-form-field>
      <label>Nick to show</label>
      <input matInput type="text" name="email"/>
  </mat-form-field>
  <mat-form-field>
      <label>Email</label>
      <input matInput type="email" name="email"/>
  </mat-form-field>
  <mat-form-field>
      <label>Password</label>
      <input matInput type="password" name="email"/>
  </mat-form-field>
  <mat-form-field>
      <label>Repeat password</label>
      <input matInput type="password" name="email"/>
  </mat-form-field>
  <button mat-button>Sign-up</button>
</div>