<section class="body">
  <div class="leftColumn">
    <nav>
      <ul class="gameProto">
        <li>Poker</li>
      </ul>
    </nav>
    <table>
      <thead>
        <td>Room Name</td>
        <td>Description</td>
        <td>Players/Max</td>
        <td>Access deposit</td>
      </thead>
      <tbody>
        <tr>
          <td>Probando</td>
          <td>Descripcion</td>
          <td>0/6</td>
          <td>2.600</td>
        </tr>
        <tr>
          <td>Probando</td>
          <td>Descripcion</td>
          <td>0/6</td>
          <td>2.600</td>
        </tr>
        <tr class="official">
          <td>Probando</td>
          <td>Descripcion</td>
          <td>0/6</td>
          <td>2.600</td>
        </tr>
        <tr>
          <td>Probando</td>
          <td>PotLimit texas holdem 1k/2k</td>
          <td>0/6</td>
          <td>2.600</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="rightColumn">
    <div class="friends">
      
    </div>
  </div>
</section>