<div id="portalComponent">
  <div class="boxPortal">
    <div class="head">WebP<i class="fa-logo"></i>ker<span class="version">1.0.0</span></div>
    <div class="body">
      <div class="colMiddle">
        <app-login-box></app-login-box>
      </div>
      <div class="colMiddle">
        <app-signup-box></app-signup-box>
      </div>
    </div>
  </div>
</div>
<div class="author">You can download this project from this <a href="https://github.com/alexander171294/web-poker" class="repo" target="_blank"><span class="fa-git"></span>Git Repo</a></div>