section {
    box-shadow: 0px 0px 10px 4px #00000073;
    border: 1px solid #000000;
    width: 450px;
    padding: 3vh 2vw;
    border-radius: 7px;
    background: #0b1b0f;
    margin: 2vh 0px;
    color: #d7a965;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 235px;
    transition: transform 1s;
    transform-style: preserve-3d;
}